{% extends 'base.html' %}

{% block content %}

    {% if task %}
        <h3>Update Task #{{ task.id }}</h3>
    {% else %}
        <h3>New Task</h3>
    {% endif %}


    <form class="post-form" action="" method="POST">
        {% csrf_token %}
        {% for field in form %}
            <div>
                <p>{{ field.label }}: <br> {{ field }} </p>
                {% for error in field.errors %}
                    <small style="color: red">{{ error }}</small>
                {% endfor %}
            </div>
        {% endfor %}
        <button type="submit">Submit</button>
        <button type="reset">Reset</button>
        <a href="{% url 'todo:view-tasks' %}">Cancel</a>
    </form>

{% endblock %}

